/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); */

/* semantic color variables for this project */
/* Define colors */
:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;

  --black-soft: #151515;
  --light-grey: #B5B5B5;
  --medium-grey: #A3A3A3;
  --medium-light-grey: #e8e8e8;
  --grey_3_1: #949494;
  --grey_7_1: #595959;
  --usgs-blue: #00264c;
  --extremely-faded-usgs-blue: #F5F7FA;
  --faded-usgs-blue: #d8dee4;
  --very-light-blue: #dff0f7;  
  --less-faded-usgs-blue: #849db4;
  --usgs-blue_3_1: #7D97B0;
  --medium-blue: #a3c6d6;
  --dark-mustard: #B78935;
  --bright-mustard: #d5b43a;
  --light-mustard: #DBC49A;
  --grey-blue: #4978A7;
  --light-grey-blue: #9FB4C8;
  --brighter-grey-blue: #6290bf;
  --tan: #DCD5A8;
  --dark-tan: #bcab94;
  --medium-brown: #b47449;
  --very-dark-red: #680000;
  --dark-red: #883e3a;

  font-size: 62.5%;

  --title-font: 'Source Sans 3';
  --default-font: 'Source Sans 3';
}

/* Declare color variables */
:root {
  --color-background: var(--white);
  --color-lowlight: var(--faded-usgs-blue);
  --color-text: var(--black-soft);
  --color-title-text: var(--usgs-blue);
  --color-section-title-text: var(--usgs-blue);
  --color-subtitle-text: var(--grey_7_1);
  --color-overlay: var(--black-soft);
  --color-overlay-text: var(--white-soft);
  --color-code-links-background: var(--light-grey);
  --color-link: var(--grey-blue);
  --color-bar-focal: var(--medium-blue);
  --color-bar-default: var(--medium-grey);
  --color-map-focal: var(--medium-orange);
  --color-map-default: var(--white);
  --color-USGS-header-footer: var(--usgs-blue);
  --color-observations: var(--dark-red);
  --color-median: var(--usgs-blue);
  --color-quantile-95: var(--grey-blue);
  --color-quantile-5: var(--dark-mustard);
  --inactive-grey: #949494;
  --inactive-text-grey: #757575;
  --color-true-negative: var(--grey-blue);
  --color-false-negative: var(--light-grey-blue);
  --color-true-positive: var(--dark-mustard);
  --color-false-positive: var(--light-mustard)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-soft);
    --color-text: var(--white-soft);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: var(--color-text);
  fill: var(--color-text); /* Needed for text added w/ d3 */
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--default-font);
  font-size: 2rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
h1 {
  font-size: 5.4rem;
  font-weight: 200;
  color: var(--color-title-text);
  padding: 8rem 0 8rem 0;
  @media only screen and (max-width: 600px) {
    font-size: 5rem;
    padding: 3rem 0 3rem 0;
  }
}
h2 {
  font-size: 3.6rem;
  font-weight: 300;
  color: var(--color-title-text);
  padding: 5rem 0 0 0;
  margin-bottom: 2rem;
  @media only screen and (max-width: 600px) {
    font-size: 3.2rem;
  }  
}
h3 {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--color-title-text);
  padding: 0 0 1.5rem 0;
}
p, text {
  padding: 0 0 2rem 0;
}
li {
  padding-bottom: 1rem;
}
li:first-of-type {
  padding-top: 1rem;
}
li:last-of-type {
  padding-bottom: 1rem;
}
